div(class=g('signatureContainer'))
  div(class=g('sigLeft'))
    img(class=g('sigPic') src=information.signature.image)
    div(class=g('sigName') title=information.signature.hover)= information.general.name
  div(class=g('sigRight'))
    label(class=g('sigTab'))
      div
      
