style(type='text/css')!= css
div(id=g('container'))
  div(id=g('maingroup'))
    each obj,i in maingroup
      div
        label(class=`${g('divy')} ${g('title')}`  for=g('label'+i))!= obj.title
        if obj.quick
          div(class=g('quick'))!= obj.quick
        if obj.long
          input(class=g('controller')  id=g('label'+i)  type='checkbox')
          div(class=g('long'))!= obj.long
  each obj,i in filefolder
    div(class=g('filefolder'))
      div(class=g('filetitle'))!= filetitle[i]
      div(class=g('tabgroup'))
        each info,j in obj
          label(  class=`${g('divy')} ${g('tab')}`    for=g('fflabel'+i+j)  )!= info.tab+'    '
      div(class=g('filegroup'))
        each info,j in obj
          input(  class=g('selector')    id=g('fflabel'+i+j)  type='radio'  name=g('radio'+i))
          label(  class=`${g('divy')} ${g('filecontainer')}`    for=g('fflabel'+i+j)  )
            div(class=g('file'))!= info.file
